<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>{{title}} | FAC Slides</title>

    {% if config.env == "development" %}
      <link href="assets/css/slides.css" rel="stylesheet">
    {% else %}
      {% set baseStyles %}
        {% include "assets/css/slides.css" %}
      {% endset %}
      <style>
        {{ baseStyles | cssmin | safe }}
      </style>
    {% endif %}

    {% if theme %}
      {% if config.env == "development" %}
        <link href="assets/css/themes/{{theme}}.css" rel="stylesheet">
      {% else %}
        {% set themeStyles %}
          {% include "assets/css/themes/" + theme + ".css" %}
        {% endset %}
        <style>
          {{ themeStyles | cssmin | safe }}
        </style>
      {% endif %}
    {% endif %}

  </head>
  <body>
    {{content | safe}}

    <nav>
      <button id="prev" aria-label="previous slide">
        <svg width="36" height="36" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
      <button id="next" aria-label="next slide">
        <svg width="36" height="36" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </nav>

    <progress max="100" value="0"></progress>

    {% if config.env == "development" %}
      <script src="/assets/js/slides.js"></script>
    {% else %}
      {% set js %}
        {% include "assets/js/slides.js" %}
      {% endset %}
      <script>
        {{ js | jsmin | safe }}
      </script>
    {% endif %}
  </body>
</html>
