@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Light-subset.woff2") format("woff2"),
    url("/assets/fonts/GT-Eesti-Text-Light-subset.zopfli.woff") format("woff"),
    url("/assets/fonts/GT-Eesti-Text-Light-subset.ttf") format("truetype");

  font-weight: 400;
  font-display: swap;
}

/* Bold weight font */
@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Medium-subset.woff2") format("woff2"),
    url("/assets/fonts/GT-Eesti-Text-Medium-subset.zopfli.woff") format("woff"),
    url("/assets/fonts/GT-Eesti-Text-Medium-subset.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
}

/* Italic style regular weight font */
@font-face {
  font-family: "Eesti";
  src: url("/assets/fonts/GT-Eesti-Text-Light-Italic-subset.woff2")
      format("woff2"),
    url("/assets/fonts/GT-Eesti-Text-Light-Italic-subset.zopfli.woff")
      format("woff"),
    url("/assets/fonts/GT-Eesti-Text-Light-Italic-subset.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html {
  --black: #121212;
  --darkGray: #333;
  --gray: #878787;
  --lightGray: hsl(0, 0%, 94%);
  --white: #fff;
  --nearWhite: hsl(0, 0%, 96%);
  --green: #00be00;
  --yellow: #ffe500;
  --blue: #0805ec;
  --red: #ff2800;

  --primary: var(--yellow);
  --secondary: var(--blue);
  --tertiary: var(--green);
  --quarternary: var(--red);
  --muted: var(--lightGray);
  --border: var(--gray);

  --bg-dark: var(--black);
  --bg-light: var(--white);

  --text-dark: var(--black);
  --text-light: var(--white);

  --sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --mono: "SF Mono", SFMono-Regular, ui-monospace, Menlo, Consolas, Monaco,
    monospace;
  font-family: "Eesti", var(--sans);
}

h1,
h2 {
  text-decoration: underline;
  text-underline-offset: -0.35rem;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 0.35rem;
}

/* underline looks weird on coloured/image bg */
.primary h1,
.primary h2,
.secondary h1,
.secondary h2,
.tertiary h1,
.tertiary h2,
.quarternary h1,
.quarternary h2,
.image h1,
.image h2 {
  text-decoration: none;
}

img {
  min-width: 4rem;
  max-width: 90vw;
  max-height: 90vh;
  height: auto;
  margin: 0 auto;
}

/* make regular screenshots look nice */
img:not([width]),
.image {
  box-shadow: 0 1rem 1.5rem 0 hsla(200, 20%, 20%, 0.2),
    0 0.25rem 0.5rem hsla(200, 0%, 0%, 0.2);
  border-radius: 0.25rem;
}

blockquote:not([class]) {
  position: relative;
  font-style: italic;
}

blockquote:not([class])::before {
  content: "â€";
  position: absolute;
  top: -1rem;
  left: -1rem;
  font-size: 3rem;
  font-weight: 900;
  color: var(--darkGray);
}

.screenshot {
  padding: 0.5rem;
  background-color: white;
  font-size: 0.4rem;
  font-style: normal;
  font-family: system-ui;
}

.screenshot :is(h2, h3, h4, h5, h6) {
  font-size: 0.45rem;
}

.screenshot > * + * {
  margin-top: 0.2rem;
}

.tweet {
  max-width: 16rem;
  padding: 0.5rem;
  font-family: system-ui;
  font-size: 0.5rem;
  font-style: normal;
  background-color: white;
}

.tweet > * + * {
  margin-top: 0.25rem;
}

.tweet cite {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto auto;
  font-style: normal;
}

.tweet cite > * {
  grid-column: 2 / -1;
}

.tweet cite > img {
  margin: 0;
  min-width: 0;
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.tweet cite > strong {
  align-self: end;
}

table {
  max-width: max-content;
  padding: 0.5rem;
  padding-bottom: 1rem;
  text-align: left;
  font-family: var(--mono);
  font-size: 0.675rem;
  background-color: var(--nearWhite);
}

caption {
  padding-top: 1rem;
  padding-left: 1rem;
  text-align: left;
  font-size: 0.575rem;
  font-weight: bold;
  background-color: var(--nearWhite);
}

th,
td {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* .slide {
  opacity: 0;
  transition: opacity 0.5s 0.25s;
}

.slide:target {
  opacity: 1;
} */
