<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>FAC Slides</title>
    {% if config.env == "development" %}
      <link href="/assets/css/home.css" rel="stylesheet">
      <link href="/assets/css/themes/fac.css" rel="stylesheet">
    {% else %}
      {% set styles %}
        {% include "assets/css/home.css" %}
        {% include "assets/css/themes/fac.css" %}
      {% endset %}
      <style>
        {{ styles | cssmin | safe }}
      </style>
    {% endif %}

  </head>
  <body>
    <h1>Slide index</h1>
    <ul role="list" class="slides">
      {% for slideshow in collections.slides %}
        <li>
          <a href="{{slideshow.data.page.url}}">{{slideshow.data.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
